<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845586991388-9ehmsu51b25te15ikdea8ga9o23jthi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845586991388-9ehmsu51b25te15ikdea8ga9o23jthi6</string>
	<key>API_KEY</key>
	<string>AIzaSyC8CfMo7hbuwJzvtE59WxZpNzc-8Bu_UPI</string>
	<key>GCM_SENDER_ID</key>
	<string>845586991388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SpotifyLoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>spotify-style-login-samp-f54f8</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-style-login-samp-f54f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845586991388:ios:4f434e6d7da915814612d9</string>
</dict>
</plist>